# Librerías (Muy pesadas)
node_modules/

# Base de datos local (NO subirla, la nube creará la suya)
database.sqlite
.sistema-ventas/

# Compilaciones (El .exe que generaste)
dist/

# Archivos de Electron y sistema
.DS_Store
Thumbs.db
*.log

# Archivos temporales de desarrollo
.vscode/
.idea/
*.lnk
*.old

# Archivos de respaldo locales
backups/